# Aim of This Notebook

In this notebook, we want to import the "Katalog_stoff.csv" file to our Postgres Database

In [1]:
import pandas as pd
import sqlalchemy
import credential_temp as  creds

## Data location

In [2]:
data_in_dir = r"../data/"

katalog_fname = r"katalog_stoff.csv"

katalog_pfname = data_in_dir + katalog_fname

## Read the Data
Don't forget to add the "delimiter", normal csv file's delimiter is "," but in our case it's ";", so we need to assign it.

In [3]:


df = pd.read_csv(katalog_pfname, sep = ";")
df.head()

   stoff_nr                                     name  beschreibung cas_id
0      1000     Wassertemperatur, gemessen im Zulauf           NaN    NaN
1      1001   Relative Luftfeuchte 0.8m, Tagesmittel           NaN    NaN
2      1002  Relative Luftfeuchte 0.8m, Tagesminimum           NaN    NaN
3      1003  Relative Luftfeuchte 0.8m, Tagesmaximum           NaN    NaN
4      1004                       Luftdruck, Minimum           NaN    NaN

## Connect to Database

In [4]:
# connect to our credential file
postgresurl = creds.URL

In [5]:
# write your sql url below
engine = sqlalchemy.create_engine(postgresurl)

## Import to Databse

In this section, I have imported the data to the Schema of "hygrisc" which has been created before in our PGadmin. but you can set your table in your schema.

In [6]:
%time df.to_sql(con=engine, name="katalog_stoff", schema="hygrisc", if_exists="replace", index=False)

CPU times: total: 62.5 ms
Wall time: 108 ms

966

## Finish!

That's great, You have imported the table successfully in Postgres Database.